/* App-specific styles; global in index.css */

.whiteboard-canvas-wrap {
  position: relative;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  touch-action: none;
}

.whiteboard-canvas-wrap:focus {
  outline: none;
}

.whiteboard-canvas {
  display: block;
  width: 100%;
  height: 100%;
  color: #666;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header {
  flex-shrink: 0;
}
