:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f5f5f5;
}
