@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('tldraw/tldraw.css');

html {
	/* Synced to tldraw light/dark in SyncHtmlTheme.tsx */
	background-color: hsl(210, 20%, 98%);
}

body {
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
}
